.flex-row {
  display: flex;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.contact-left {
  background-color: white;
  padding: 100px;
  text-align: center;
  box-sizing: border-box;
}
.contact-left h3 {
  font-size: 40px;
  color: rgb(16, 77, 16);
}
.contact-right h3 {
  font-size: 40px;
  color: rgb(16, 77, 16);
}
.contact-right label {
  font-size: 20px;
  padding-bottom: 10px;
}
label sup {
  color: red;
}
.contact-right {
  background-color: blanchedalmond;
  padding: 100px;
  box-sizing: border-box;
}
.contact-right input {
  padding: 10px;
}
.contact-container-outer h2 {
  text-align: center;
  color: rgb(6, 58, 6);
  border-bottom: 8px solid #e8bf5e;
  font-size: 60px;
  margin-bottom: 20px;
}
.contact-container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submitBtn {
  margin: 50px;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #e6870b;
}
