.about-container {
  width: 80%;
  background-color: white;
  margin: 100px auto 0 auto;
  padding: 50px;
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgb(201, 200, 200);
}
.about-title {
  font-size: 60px;
  color: rgb(6, 58, 6);
  font-weight: bold;
  margin: 0 0 10px 0;
  margin-right: 300px;
  margin-bottom: 40px;
  border-bottom: 8px solid #e8bf5e;
}
.about-container .para {
  font-size: 20px;
  color: rgb(16, 77, 16);
  margin: 10px;
}
.tools {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px gray;
}
.tools-title {
  font-size: 30px;
  margin: 10px 20px 10px 20px;
  color: rgb(16, 77, 16);
}
.tools img {
  width: 600px;
  padding: 0 10px;
}
@media only screen and (max-width: 640px) {
  .about-container {
    width: 320px;
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    padding: 20px 10px 50px 10px;
  }
  .about-image {
    display: none;
  }
  .tools img {
    width: 280px;
    padding: 0;
  }
  .tools-title {
    font-size: 20px;
    margin: 0;
  }
  .about-title {
    font-size: 40px;
    margin: 20px 0 20px 0;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1350px) {
  .about-image {
    display: none;
  }
  .about-title {
    margin: 50px 0 50px 0;
  }
  .tools img {
    width: 400px;
    padding: 0;
  }
}
